    body {
      line-height: 2rem;
      background-color: #ccc;
      color: #333;

    }

    h1, h2 {
      margin-top: 1rem;
    }
    h3 {
      color: green;
    }
    hr {
      width: 50%;
    }
    li {
      list-style-type: none;
    }

    a {
      text-decoration: none;
      font-size: 1.3rem;
    }

    .course {
      color: red;
      font-size: 2rem;
    }
